.product-wrapper {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
    color: var(--text-color);

    &:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
        transform: translateY(-4px);

        & .add {
            color: var(--text-color);
            outline: 3px solid darkorange;
            border-color: transparent;
            background-color: white;
            font-weight: 500;
        }

        & .disable {
            color: white;
            background-color: rgb(174, 174, 174);
            outline: none;
            font-weight: 400;
        }
    }

    .product {
        color: var(--text-color);

        .tag {
            position: absolute;
            top: 20px;
            left: 20px;
            padding: 0.5vh 0.8vw 0.3vh;
            color: darkorange;
            background-color: white;
            border-radius: 20px;
            box-shadow: 0 0 10px #ccc;
            user-select: none;
        }

        img {
            width: 100%;
            border-radius: 16px;
            -webkit-user-drag: none;
        }
    
        .info {
            padding: 8px 0;
    
            .description {
                font-weight: 300;
                letter-spacing: 1px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            .name {
                margin-top: 4px;
                font-size: 1.8rem;
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            .price {
                padding-top: 5vh;
                font-size: 3rem;
                font-weight: 700;
                color: darkorange;
            }
        }
    }

    .add {
        position: absolute;
        line-height: 1.6rem;
        bottom: 20px; 
        right: 12px;
        padding: 5px 8px 3px;
        color: white;
        background-color: var(--primary-color);
        border-radius: 20px;
        cursor: pointer;
        border-color: var(--primary-color);
        word-spacing: 1px;
    }

    .disable {
        cursor: default;
        border-color: transparent;
        background-color: rgb(174, 174, 174);
    }
}

// Tablet & mobile
@media (max-width: 63.9375em) {}

// Tablet
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .product-wrapper {
        .product {
            .tag {
                font-size: 1.4rem;
                padding: 0.4vh 1vw 0.2vh;
            }
        }
    }
}

// Mobile
@media (max-width: 46.1875em) {}