.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6vh 2vw 6vh 0;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        width: 36px;
        height: 36px;
        padding-top: 0.4vh;
        margin-right: 1vw;
        border-radius: 5px;
        cursor: pointer;
        user-select: none;
        border: 2px solid #ccc;

        button {
            height: 30px;
            font-size: 1.5rem;
            outline: none;
            border: none;
            cursor: pointer;
            background-color: transparent;
            margin-bottom: 0.2vh;
        }
    }

    .active {
        color: darkorange;
        font-weight: 500;
        border-color: darkorange;
    }
}