:root {
  --primary-color: #111;
  --text-color: #1a1a1a;

  --navbar-height: 10vh;
  --marquee-height: 5vh;
}


// Animation
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-1.2vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


// Tablet & mobile
@media (max-width: 63.9375em) {}

// Tablet
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    :root {
        --navbar-height: 6vh;
        --marquee-height: 2.5vh;
    }

    
}

// Mobile
@media (max-width: 46.1875em) {}